<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="/favicon-96x96.png"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="cdm recommender system"/>
        <link rel="apple-touch-icon" href="/image/logo.png"/>
        <link rel="manifest" href="/manifest.json"/>
        <title>CDM Recommender System</title>
        <link href="/lib/react-cdm-rcs/cdm-rcs-0.1.0.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script th:inline="javascript">
          $(document).ready(function () {

            if (typeof CDMRecommender === 'undefined') {
              throw new Error('Cannot find CDMRecommender')
            }

            var url = /*[[${APIUrl}]]*/ '';
            var app = new CDMRecommender.MainApp();

            app.init("root", {
              APIServer : url
            })
          });
        </script>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <script src="/lib/react-cdm-rcs/cdm-rcs-0.1.0.js"></script>
    </body>
</html>